.SignUpContainer {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
  font-size: 40px;
  background-color: rgba(0, 0, 0, 0.5);
}

.SignCode {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 50%;
  background-color: rgba(21, 100, 191, 0.8);
  z-index: 2;
  position: relative;
  padding: 10px;
  border-radius: 10px;
}

.SignCode .form {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 80%;
  justify-content: space-around;
  align-items: center;
}

.SignCode  input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  border-bottom: solid white 1px;
  font-family: learners;
  font-size: 40px;
  width: 350px;
}


.SignCode .form .buttons {
 width: 100%;
}


.SignCode  button {
  font-family: learners;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  border-bottom: white 1px solid;
  font-size: 30px;
  margin-left: 20px;
}