.SignUpContainer {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  position: fixed;
}

.SignCode {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  height: 90%;
  background-color: blue;
  position: fixed;
}

.SignCode .form {
  display: flex;
  flex-direction: column;
  width: 50%;
  height: 80%;
  justify-content: space-around;
  align-items: center;
}

.SignCode .form input {
  font-size: 30px;
}


.SignCode .form .buttons {
 width: 100%;
}


.SignCode .form .buttons button {
  width: 25%;
  margin: 10px;
  font-size: 20px;
}