.CalendarHeader {
  display: flex;
  height: 15%;
  align-items: center;
  background-color: #1564bf;
}

.CalendarHeader h2 {
  width: 80%;
  font-size: 300%;
}

.CalendarHeader button {
  width: 10%;
  height: 100%;
}