.SelectDate {
 display: grid;
 grid-template-rows: repeat(13, 1fr);
 height: 80%;
}

.SelectDate button{
  border: none;
  outline: none;
  background-color: #003b8e;;
  color: whitesmoke;
  font-size: 15px;
}

.SelectDate select {
  color: #003b8e;
  outline: none;
  font-size: 15px;
  text-align: center;
}

.SelectDate .selected {
  background-color: whitesmoke;
  color: #003b8e;;
}

