.Header {
  display: flex;
  width: 100%;
  height: 20%;
  background-color: #003b8e;
  align-items: center;
}

.Header h1 {
  width: 70%;
  font-size: 70px;
}

.Header .userBox {
  display: flex;
  width: 40%;
  font-size: 35px;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}