.TaskForm {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
}

.formContainer {
  width: 50%;
  height: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  background-color: rgba(21, 100, 191, 0.8);
  border-radius: 10px;
}

.formContainer ::placeholder {
  color: white;
}

.formContainer input {
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  font-size: 20px;
  border-bottom: solid white 1px;
  font-family: learners;
  font-size: 30px;
}

.formContainer textarea {
  background-color: transparent;
  border: solid white 1px;
  outline: none;
  color: white;
  font-size: 30px;
  height: 200px;
  width: 300px;
  font-family: learners;
  font-size: 25px;
  padding: 10px;
  resize: none;
}

.formContainer label{
  font-size: 30px;
  font-family: learners;
}

.formContainer label input, 
.formContainer label select {
  margin-left: 10px;
  font-family: learners;
  font-size: 25px;
}

.formContainer select { 
  background-color: transparent;
  border: white 1px solid;
  font-size: 25px;
  color: white;
  outline: none;
}

.formContainer select option {
  background: rgb(21, 100, 191);
}

.formContainer input[type="time"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}

.formContainer button {
  font-family: learners;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  border-bottom: white 1px solid;
  font-size: 30px;
  margin-left: 20px;
}
