.CalendarHeader {
  display: flex;
  height: 15%;
  align-items: center;
  justify-content: center;
  background-color: rgba(21, 100, 191, 0.5);
}

.CalendarHeader h2 {
  width: 80%;
  font-size: 300%;
}

.CalendarHeader button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 5%;
  height: 100%;
  font-size: 80px;
  color: whitesmoke;
  background-color: transparent;
  border: none;
}